* {
  margin: 0;
	padding: 0;
  scroll-behavior: smooth;
	box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	transition: all 200ms linear;
}

html,
body,
#root {
	background: #f5f5f5;
	color: #404452;
}

#root {
  overflow: hidden;
}

::-webkit-scrollbar {
  background: lightgray;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 93.7%;
  }
}

@media screen and (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}